*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #D071F9;
    padding: 0 10px;
}
.container{
    
    max-width: 500px;
    width: 100%;
    background-color: white;
    margin: 20px auto;
    padding: 30px;
    box-shadow: 5px 5px 5px 5px regba(0,0,0,0.125);
}
.container .title
{
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 25px;
    color: #D071F9;
    text-transform: uppercase;
    text-align: center;

}
.container .form{
    width: 100%;

}
.container .form .input_field{
    margin-bottom:15px;
    display: flex;
    align-items: center;
     
}
.container .form .input_field label{
  
    width: 200px;
    margin-right: 10px;
    font-size: 14px;

}
/* .container .form .input_field .input{

    width: 100% ;
  
    border: #D071F9;
} */
